:root {
    --color-primary-light: #d33a2c;
    --color-primary-dark: #c7372a;
    --color-secondary: rgba(0,0,0,.2);
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Rowdies', sans-serif;
    font-size: 62.5%;
}

header {
    background-color: var(--color-primary-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.logos {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.logo {
    margin-top: 1rem;
    width: 12rem;
    cursor: pointer;
}

.nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar-item {
    font-size: 1.2rem;
    color: white;
    padding: 0.6rem;
    border-radius: 0.7rem;
}

.nav-bar-item:active {
    border: 3px dotted black;
}

.nav-bar-item-a {
    text-decoration: none;
    color: #fff;
}

.nav-bar-item:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.nav-bar-item-button {
    background-color: var(--color-secondary);
    padding: .35em .5rem .35em 1rem;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 0.7rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1;
    box-shadow: 0 13px 27px -15px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    position: relative;
    height: 2.8rem;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: inherit;
    width: 7rem;
}

.nav-bar-item-button::after {
    content: '';
    margin-left: 0.4em;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(img/menu-cat.svg);
}

.nav-bar-item-button:hover {
    background-color: rgba(0,0,0,.3);
}

.nav-bar-item-button:active {
    border: 3px dotted black;
}

.cat-item-logo {
    width: 2rem;
    margin-left: 0.5rem;
    display: inline-block;
}

.magnifying-glass {
    width: 1.8rem;
    height: 2rem;
    fill: red;
    transform: translate(2.2rem, 0.1rem);
}

.nav-search {
    display: flex;
    align-items: center;
}

#search-input {
    width: 23rem;
    height: 3.5rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    text-indent: 2.5rem;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

#search-input:focus {
    outline: none;
    text-decoration: none;
    border: 3px dotted black;
    font-weight: 300;
    box-shadow: none;
}

#search-input:hover {
    box-shadow: 0 2.5rem 2rem rgba(0,0,0,.2);
}

#search-input::-webkit-input-placeholder {
    font-size: 1.3rem;
    font-weight: 300;
    transform: translate(0.5rem, 0.1rem);
}

/* --------------MAIN SECTION------------------- */

.main-section {
    background-color: var(--color-primary-dark);
}

.main-title {

}

.main-card {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10rem 10rem;
}

.main-card-articles {
}

.main-card-user {
    padding: 3rem 5rem 0 5rem;
    display: flex;
    align-items: center;
}

.img-wrapper {
    border: 5px solid #fff;
    width: 5.7rem;
    height: 5.7rem;
    transform: scale(.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
    transform-origin: 0 100%;
    transition: all .2s;
    overflow: hidden;
    border-radius: 0.7rem;
    margin-right: 2rem;
}

.img-wrapper:hover {
    transform: scale(.84) rotate(0);
}

.main-card-img {
    width: 100%;
    margin-right: 2rem;
    cursor: pointer;
    transform: scale(1.2) rotateZ(calc(11 * 1deg));
    object-fit: cover;
    transition: all .3s;
}

.img-wrapper:hover > * {
    transform: scale(1.2) rotate(0);
}

.author-name {

}

.article-title-comment {
    padding: 3rem 5rem 0 5rem;
}

.article-subjects {
    padding: 3rem 5rem 0 5rem;
}

.article-subjects-list {
    display: flex;
}

.article-subjects-items {
    list-style: none;
    padding-right: 2rem;
}

.arrow {
    margin: 0;
    width: 12rem;
    height: 2rem;
    fill: #fff;
    margin-top: 1rem;
}